@media (max-width:600px) {
   header nav ul {
    display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header-title {
        padding: 0px;
        margin-top: 20px;
        font-size: 20px;
        padding: 0px 10px;
    }

    .header-title h1 {
        font-size: 35px;
    }

    .header-title p {
        width: 80%;
        margin: 0 auto;
    }

    .choose-us ul {
        flex-direction: column;
        gap: 5px;
    }

    .choose-us li p {
        width: 60%;
        margin: 0 auto 20px auto;
    }

    .about-us p:nth-child(3) {
        width: 100%;
    }

    .team-description ul {
        gap: 50px;
    }

    .team-description ul li img {
        width: 150px;
        height: 200px;
    }
}