html {
    font-family: "Kode Mono", "sans-serif";
}

body {
    display: flex;
    justify-content: center;
    background-color: #C1BDBA;
    height: 100vh;
    padding: 40px;
}

.form {
    padding: 50px;
    background-color: #24333C;
    border-radius: 5px;
    width: 40%;
    /* max-height: 480px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form h1 {
    color: white;
    margin: 0 auto;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.input {
    padding: 7px 15px 3px 15px;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    font-size: 25px;
}

.input::placeholder {
    font-family: "Kode Mono", "sans-serif";
    font-size: 25px;
    padding: 0 3px;
    color: #92999E;
}

.input-container>input[type="text"] {
    width: calc((100% - (40px)) / 2);
}

.form .input[type="email"],
.form .input[type="password"] {
    width: 100%;
}

.button-container {
    display: flex;
    gap: 0px;
}

button {
    padding: 20px;
    border: none;
    font-family: "Kode Mono", "sans-serif";
    color: white;
    cursor: pointer;
}

.button-container>* {
    flex-grow: 1;
}

.sign-up,
.get-started {
    background-color: #1AB188;

}

.log-in {
    background-color: #435359;
}

.log-in:hover {
    background-color: #179A77;
}

.get-started {
    font-size: 35px;
    padding: 10px;
}