body {
    height: 100vh;
    border: 3px solid green;
}

#container {
    display:grid;
    place-self: center;
    margin-top: 50px;
    border: 2px solid blue;
    width: fit-content;
    padding: 30px;
}

header,
main,
footer {
    position: relative;
    border: 2px solid black;
    text-align: center;
    width: 600px;
    margin-left: 0px;
    padding: 20px;
}

main, footer {
    margin-top: 20px;
}