@media (max-width: 600px) {
    header nav {
        flex-direction: column;
        gap: 10px;
    }

    header nav ul li {
        padding-right: 0.625rem;
    }

    .header-title {
        padding: 0px;
    }

    .our-dogs ul {
        gap: 20px;
        justify-content: space-between;
    }

    .our-dogs ul li img {
        width: 200px;
        height: 200px;
    }

    .helpNeed ul {
        flex-direction: column;
    }
}